<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>RARWeb</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>edu.uga.cs.rentaride.presentation.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllRentalLocations</display-name>
    <servlet-name>FindAllRentalLocations</servlet-name>
    <servlet-class>edu.uga.cs.rentaride.presentation.FindAllRentalLocations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllRentalLocations</servlet-name>
    <url-pattern>/FindAllRentalLocations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMainWindow</display-name>
    <servlet-name>ShowMainWindow</servlet-name>
    <servlet-class>edu.uga.cs.rentaride.presentation.ShowMainWindow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMainWindow</servlet-name>
    <url-pattern>/ShowMainWindow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateRentalLocation</display-name>
    <servlet-name>CreateRentalLocation</servlet-name>
    <servlet-class>edu.uga.cs.rentaride.presentation.CreateRentalLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRentalLocation</servlet-name>
    <url-pattern>/CreateRentalLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>edu.uga.cs.rentaride.presentation.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateVehicle</display-name>
    <servlet-name>CreateVehicle</servlet-name>
    <servlet-class>edu.uga.cs.rentaride.presentation.CreateVehicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateVehicle</servlet-name>
    <url-pattern>/CreateVehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateReservationRLVT</display-name>
    <servlet-name>CreateReservationRLVT</servlet-name>
    <servlet-class>edu.uga.cs.rentaride.presentation.CreateReservationRLVT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateReservationRLVT</servlet-name>
    <url-pattern>/CreateReservationRLVT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllVehicleTypes</display-name>
    <servlet-name>FindAllVehicleTypes</servlet-name>
    <servlet-class>edu.uga.cs.rentaride.presentation.FindAllVehicleTypes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllVehicleTypes</servlet-name>
    <url-pattern>/FindAllVehicleTypes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCustomerInfo</display-name>
    <servlet-name>ViewCustomerInfo</servlet-name>
    <servlet-class>edu.uga.cs.rentaride.presentation.ViewCustomerInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCustomerInfo</servlet-name>
    <url-pattern>/ViewCustomerInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateVehicleType</display-name>
    <servlet-name>CreateVehicleType</servlet-name>
    <servlet-class>edu.uga.cs.rentaride.presentation.CreateVehicleType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateVehicleType</servlet-name>
    <url-pattern>/CreateVehicleType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllCustomers</display-name>
    <servlet-name>ViewAllCustomers</servlet-name>
    <servlet-class>edu.uga.cs.rentaride.presentation.ViewAllCustomers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllCustomers</servlet-name>
    <url-pattern>/ViewAllCustomers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllVehicles</display-name>
    <servlet-name>FindAllVehicles</servlet-name>
    <servlet-class>edu.uga.cs.rentaride.presentation.FindAllVehicles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllVehicles</servlet-name>
    <url-pattern>/FindAllVehicles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateReservation</display-name>
    <servlet-name>CreateReservation</servlet-name>
    <servlet-class>edu.uga.cs.rentaride.presentation.CreateReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateReservation</servlet-name>
    <url-pattern>/CreateReservation</url-pattern>
  </servlet-mapping>
</web-app>